
@{
    ViewBag.Title = "Cancelled";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<section class="container">

    <div class="sitemap-page">
        <div class="page-title" align="center" style="padding-bottom: 50px;">
            <h2>Sorry!</h2>

            @*<h2>Congratulations!</h2>*@
            <h3>The transaction has been cancelled!</h3>
        </div>

    </div>

</section>

