@{
    Layout = "~/Views/Shared/_Master.cshtml";
}
<script src="~/Content/js/cart.js"></script>
<div class="col-md-9 col-sm-8">
    <script src="~/Content/js/cart.js"></script>
<div class="product-items-area">
<div class="product-items">
    <h2 class="product-header">style</h2>
    <div class="row">
        <div id="product-slider" class="owl-carousel">
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/single-product-1.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/kids-1.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/single-product-2.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/women-2.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/single-product-3.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/men-2.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/single-product-1.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/kids-1.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/single-product-2.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/women-2.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/single-product-3.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/men-2.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-items">
    <h2 class="product-header">men</h2>
    <div class="row">
        <div id="product-slider-two" class="owl-carousel">
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/men-1.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-3.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/men-2.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-3.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/men-3.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-3.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/men-1.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-3.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/men-2.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-3.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/men-3.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-3.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="arrivals-area single-add">
    <a href="#"> <img src="~/img/banner/arrivals.jpg" alt="arrivals"> </a>
</div>
<div class="product-items">
    <h2 class="product-header">women</h2>
    <div class="row">
        <div id="product-slider-women" class="owl-carousel">
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/single-product-2.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-2.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/women-2.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-2.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/women-3.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-2.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/single-product-2.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-2.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/women-2.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-2.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/women-3.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-2.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-items">
    <h2 class="product-header">kids</h2>
    <div class="row">
        <div id="product-slider-kids" class="owl-carousel">
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/kids-1.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-1.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/kids-2.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-1.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/kids-3.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-1.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/kids-1.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-1.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/kids-2.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-1.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product">
                    <div class="single-product-img">
                        <a href="#">
                            <img class="primary-img" src="~/img/product/kids-3.jpg" alt="product">
                            <img class="secondary-img" src="~/img/product/single-product-1.jpg" alt="product">
                        </a>
                        <div class="single-product-action">
                            <a href="#"><i class="fa fa-external-link"></i></a>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="single-product-content">
                        <div class="product-content-left">
                            <h2><a href="#">EXCLUSIVE STYLE</a>
                            </h2>
                            <p>Jacket’s</p>
                        </div>
                        <div class="product-content-right">
                            <h3>$27.00</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
