@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Master.cshtml";
}


<div id="page">

    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul>
                        <li class="home"> <a title="Go to Home Page" href="@Url.Action("Index","Home")">Home</a><span>&raquo;</span></li>
                        <li><strong>Forgot Password</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    <!-- Main Container -->
    <section class="main-container col1-layout">
        <div class="main container">
            <div class="page-content">
                <div class="account-login">
                    <div class="box-authentication new-customer-box Account Page ">

                        @using (Html.BeginForm("ForgotPassword", "Home", null, FormMethod.Post, new { id = "forgotPasswordForm" }))
                        {
                      
                        <div class="row">
                            <div class="col-xs-12">
                                <div id="mgs">
                                    @if (@ViewBag.Message != null)
                                    {
                                        if (ViewBag.Message == "Sorry this email address dosen't exist in the record.")
                                        {
                                            <div class="alert alert-warning" id="alertMessage">

                                                <strong>@ViewBag.Message!</strong> .
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="alert alert-success" id="alertMessage">

                                                <strong>@ViewBag.Message!</strong> .
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="check-title">
                                    <h4>Forgot Password</h4>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                @*<label for="Email"> Enter Your Email <span class="required">*</span></label>*@
                                <div class="input-text">
                                    @*<label>Email</label>*@
                                    <input class="form-control" type="text" id="Email" name="Email" placeholder="Enter email address">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="submit-text">
                                    <button class="button"><i class="fa fa-envelope"></i>&nbsp; <span>Send Email</span></button>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main Container End -->

    <!-- service section start -->
    @*<div class="container">
        <div class="jtv-service-area">
            <div class="row">
                <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="block-wrapper ship">
                        <div class="text-des">
                            <i class="icon-rocket"></i>
                            <h3>FREE SHIPPING & RETURN</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="block-wrapper return">
                        <div class="text-des">
                            <i class="fa fa-dollar"></i>
                            <h3>MONEY BACK GUARANTEE</h3>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="block-wrapper support">
                        <div class="text-des">
                            <i class="fa fa-headphones"></i>
                            <h3>ONLINE SUPPORT 24/7</h3>
                            <p>Lorem ipsum dolor sit amet. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- service section end-->

    <!-- our clients Slider -->
    @*<div class="our-clients">
        <div class="container">
            <div class="slider-items-products">
                <div id="our-clients-slider" class="product-flexslider hidden-buttons">
                    <div class="slider-items slider-width-col6">

                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand1.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand2.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand3.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand4.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand5.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand6.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->
                        <!-- Item -->
                        <div class="item"> <a href="#"><img src="~/content/images/brand7.png" alt="Image" class="grayscale"></a> </div>
                        <!-- End Item -->

                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- End our clients Slider -->


</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $("#forgotPasswordForm").validate({
            rules: {
                Email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                Email: {
                    required: "Please enter your email",
                    email: "Please enter a valid email. Example - abc@gmail.com"
               }
            }
        });
        $(document).ready(function () {
            $('#forgotPasswordForm').addClass('active');
            $(function () {
                setTimeout(function () {
                    $("#mgs").hide('blind', {}, 500);
                }, 5000);
            });
        });
    </script>

}
