@*@using EFreshStore.Interfaces.Managers
@using EFreshStore.Managers*@
@using EFreshStore.Models
@using EFreshStore.Models.Context
@using Vereyon.Web
@model IEnumerable<EFreshStore.Models.Context.ThanaWiseMasterDepot>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_CommonMaster.cshtml";
    //List<MasterDepot> masterDepots = ViewBag.MasterDepots;
}
<div class="chart-area">
    <div class="container">
        @Html.RenderFlashMessages()
        <h2>Master Depot Details</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="chart-item table-responsive fix">
                    <form>
                        <fieldset id="text">
                            <table class="col-md-12" id="tblCartProduct">
                                <thead>
                                    <tr>
                                        <th>Thana Name</th>
                                        <th>Master Depot</th>
                                        @*<th>Edit</th>*@
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null)
                                    {
                                        foreach (var masterDepot in Model)
                                        {
                                            <tr>
                                                <td>@masterDepot.Thana.Name</td>
                                                <td>@masterDepot.MasterDepot.Name</td>
                                                @*<td>
                                                    @Html.ActionLink("Edit", "EditMaterDepotWithThana", new { id = masterDepot.Id }, htmlAttributes: new { @style = "color: red" })
                                                </td>*@
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
